VS2010.WebForm.Test/VS2010.WebForm.Test/Web References/WS/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTitles">
        <s:complexType />
      </s:element>
      <s:element name="GetTitlesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTitlesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXML">
        <s:complexType />
      </s:element>
      <s:element name="GetXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSON">
        <s:complexType />
      </s:element>
      <s:element name="GetJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostXML">
        <s:complexType />
      </s:element>
      <s:element name="PostXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostJSON">
        <s:complexType />
      </s:element>
      <s:element name="PostJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTitlesSoapIn">
    <wsdl:part name="parameters" element="tns:GetTitles" />
  </wsdl:message>
  <wsdl:message name="GetTitlesSoapOut">
    <wsdl:part name="parameters" element="tns:GetTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="GetXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetXML" />
  </wsdl:message>
  <wsdl:message name="GetXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSON" />
  </wsdl:message>
  <wsdl:message name="GetJSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONResponse" />
  </wsdl:message>
  <wsdl:message name="PostXMLSoapIn">
    <wsdl:part name="parameters" element="tns:PostXML" />
  </wsdl:message>
  <wsdl:message name="PostXMLSoapOut">
    <wsdl:part name="parameters" element="tns:PostXMLResponse" />
  </wsdl:message>
  <wsdl:message name="PostJSONSoapIn">
    <wsdl:part name="parameters" element="tns:PostJSON" />
  </wsdl:message>
  <wsdl:message name="PostJSONSoapOut">
    <wsdl:part name="parameters" element="tns:PostJSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetTitlesHttpGetIn" />
  <wsdl:message name="GetTitlesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetXMLHttpGetIn" />
  <wsdl:message name="GetXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetJSONHttpGetIn" />
  <wsdl:message name="GetJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PostXMLHttpGetIn" />
  <wsdl:message name="PostXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PostJSONHttpGetIn" />
  <wsdl:message name="PostJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetTitles">
      <wsdl:input message="tns:GetTitlesSoapIn" />
      <wsdl:output message="tns:GetTitlesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXML">
      <wsdl:input message="tns:GetXMLSoapIn" />
      <wsdl:output message="tns:GetXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSON">
      <wsdl:input message="tns:GetJSONSoapIn" />
      <wsdl:output message="tns:GetJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostXML">
      <wsdl:input message="tns:PostXMLSoapIn" />
      <wsdl:output message="tns:PostXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostJSON">
      <wsdl:input message="tns:PostJSONSoapIn" />
      <wsdl:output message="tns:PostJSONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpGet">
    <wsdl:operation name="GetTitles">
      <wsdl:input message="tns:GetTitlesHttpGetIn" />
      <wsdl:output message="tns:GetTitlesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXML">
      <wsdl:input message="tns:GetXMLHttpGetIn" />
      <wsdl:output message="tns:GetXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSON">
      <wsdl:input message="tns:GetJSONHttpGetIn" />
      <wsdl:output message="tns:GetJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PostXML">
      <wsdl:input message="tns:PostXMLHttpGetIn" />
      <wsdl:output message="tns:PostXMLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PostJSON">
      <wsdl:input message="tns:PostJSONHttpGetIn" />
      <wsdl:output message="tns:PostJSONHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTitles">
      <soap:operation soapAction="http://tempuri.org/GetTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXML">
      <soap:operation soapAction="http://tempuri.org/GetXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSON">
      <soap:operation soapAction="http://tempuri.org/GetJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostXML">
      <soap:operation soapAction="http://tempuri.org/PostXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostJSON">
      <soap:operation soapAction="http://tempuri.org/PostJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTitles">
      <soap12:operation soapAction="http://tempuri.org/GetTitles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXML">
      <soap12:operation soapAction="http://tempuri.org/GetXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSON">
      <soap12:operation soapAction="http://tempuri.org/GetJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostXML">
      <soap12:operation soapAction="http://tempuri.org/PostXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostJSON">
      <soap12:operation soapAction="http://tempuri.org/PostJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpGet" type="tns:WebService1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetTitles">
      <http:operation location="/GetTitles" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXML">
      <http:operation location="/GetXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSON">
      <http:operation location="/GetJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostXML">
      <http:operation location="/PostXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostJSON">
      <http:operation location="/PostJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:2433/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:2433/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpGet" binding="tns:WebService1HttpGet">
      <http:address location="http://localhost:2433/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>