vs2010.consoleApp.demo/vs2010.consoleApp.demo/Web References/localhost1/WsdlSearchable.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsdl.search.module.cloud.vip.com" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WsdlSearchable" targetNamespace="http://wsdl.search.module.cloud.vip.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://wsdl.search.module.cloud.vip.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getUserHistoryData" type="tns:getUserHistoryData" />
      <xs:element name="getUserHistoryDataByTop" type="tns:getUserHistoryDataByTop" />
      <xs:element name="getUserHistoryDataByTopResponse" type="tns:getUserHistoryDataByTopResponse" />
      <xs:element name="getUserHistoryDataResponse" type="tns:getUserHistoryDataResponse" />
      <xs:complexType name="getUserHistoryDataByTop">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element name="arg3" type="xs:int" />
          <xs:element name="arg4" type="xs:int" />
          <xs:element name="arg5" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg6" type="xs:int" />
          <xs:element minOccurs="0" name="arg7" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUserHistoryDataByTopResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUserHistoryData">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element name="arg3" type="xs:int" />
          <xs:element name="arg4" type="xs:int" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
          <xs:element name="arg6" type="xs:boolean" />
          <xs:element name="arg7" type="xs:boolean" />
          <xs:element minOccurs="0" name="arg8" type="xs:string" />
          <xs:element minOccurs="0" name="arg9" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUserHistoryDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getUserHistoryDataByTop">
    <wsdl:part name="parameters" element="tns:getUserHistoryDataByTop" />
  </wsdl:message>
  <wsdl:message name="getUserHistoryDataResponse">
    <wsdl:part name="parameters" element="tns:getUserHistoryDataResponse" />
  </wsdl:message>
  <wsdl:message name="getUserHistoryData">
    <wsdl:part name="parameters" element="tns:getUserHistoryData" />
  </wsdl:message>
  <wsdl:message name="getUserHistoryDataByTopResponse">
    <wsdl:part name="parameters" element="tns:getUserHistoryDataByTopResponse" />
  </wsdl:message>
  <wsdl:portType name="WsdlSearchablePortType">
    <wsdl:operation name="getUserHistoryDataByTop">
      <wsdl:input name="getUserHistoryDataByTop" message="tns:getUserHistoryDataByTop" />
      <wsdl:output name="getUserHistoryDataByTopResponse" message="tns:getUserHistoryDataByTopResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserHistoryData">
      <wsdl:input name="getUserHistoryData" message="tns:getUserHistoryData" />
      <wsdl:output name="getUserHistoryDataResponse" message="tns:getUserHistoryDataResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsdlSearchableSoapBinding" type="tns:WsdlSearchablePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUserHistoryDataByTop">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUserHistoryDataByTop">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserHistoryDataByTopResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserHistoryData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUserHistoryData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserHistoryDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsdlSearchable">
    <wsdl:port name="WsdlSearchableHttpPort" binding="tns:WsdlSearchableSoapBinding">
      <soap:address location="http://localhost:9000/vipCloud/webService/LogService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>